@import url("index.css");
@import url("accordion.css");
@import url("sidebar.css");
@import url("selection.css");
@import url("tab.css");
@import url("freehand.css");
@import url("objects.css");
@import url("contextmenu.css");
@import url("frame.css");
@import url("arrow.css");
@import url("exercise-steps.css");
@import url("butttons.css");
@import url("team-dialog.css");
@import url("footer.css");
@import url("windows-dialog.css");
@import url("../components/toolbar/toolbar.css");
@import url("../components/menu/menu-bar.css");
@import url("../components/login/login.css");
@import url("effects-dialog.css");
