.mat-object {
    width: 100%;
    height: 100%;

    position: absolute;
    box-sizing: border-box;
    cursor: grab;
    overflow: hidden;

    /* Colore di sfondo tipico del materassino */
    background-color: #6995ce; /* verde intenso */

    /* Bordo Perimetrale */
    border: 1px solid rgb(26, 25, 129);
    border-radius: 8px; /* angoli leggermente arrotondati */
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
